# Site wide configuration

title: "My Site"
description: "This is a description of my awesome site."
logo: # 120x120 px default image used for Twitter summary card
teaser: # 400x250 px default teaser image used in image archive grid
locale: en
url: "https://academicpages.github.io/sb-personal/"
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name: "Your Name"
  web: "https://yoururl.com"
  twitter: "twitterhandle"
  bio: "Description"
  avatar: "bio-photo.jpg" # 160x160 px image for author byline
  google:
    plus: "+GooglePlusIsAThing"
  disqus-shortname:


include:
  - .htaccess
  - "_pages"
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
